@import url('https://fonts.googleapis.com/css?family=Sofia');
:root {
    --grid-rows: 1; /* -- permet de créer une variable personnalisé pouvant être utilisé par la suite dans une propriété css via var(Variable) */
    --grid-cols: 1;
    --main-font: Sofia, cursive;
    --hover-color: rgba(80, 132, 173, 0.733);
}

h1 {
    text-align: center;
    font-family: var(--main-font);
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr); /* Utilisation de var() afin de prendre la variable créé au dessus dans :root */
    grid-template-columns: repeat(var(--grid-cols), 1fr); /* ^ */
    border: 1px;
    margin: 5%;
    margin-top: 20px;
    width: 960px;
    height: 800px;
}
.grid-item {
    border: 0.5px solid black;
}

#main {
    display: flex;
    justify-content: center;
}

.hover {
    background-color: var(--hover-color);
    /* transition: background-color 0.1s ease-in-out; <-- créer une transition "smooth" lors du changement de couleur */
}

.btn {
    text-align: center;
    font-size: 30px;
    background-color: rgb(64, 159, 223);
    border-radius: 5%;
    border: 1px solid black;
}

.btn:hover {
    background-color: rgba(64, 159, 223, 0.61);
    transform: scale(1.05);
}

.buttons {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   align-items: center;
}

.input {
    font-size: 30px;
    text-align: center;
}

#classic {
    background-color: rgba(80, 132, 173, 0.733);
}

#bright {
    background-color: orange;
}

#bland {
    background-color: pink;
}